/* =====================================
 * Essentials - Alliance
 * @ver 1.0.0 (1/2015)
 * =====================================
 * Essentials, basic colors
 * ===================================== */
/* button color - #231f20 */
/* pop up background - #e8e8e8 */
/* =====================================
 * Font
 * @ver 1.0.0 (1/2015)
 * =====================================
 * Font
 * ===================================== */
@font-face {
  font-family: 'varelaround-regularcs';
  src: url('../fonts/varelaround-regularcs.eot');
  src: url('../fonts/varelaround-regularcs.eot') format('embedded-opentype'), url('../fonts/varelaround-regularcs.woff') format('woff'), url('../fonts/varelaround-regularcs.ttf') format('truetype'); }

/* =====================================
 * Reset
 * @ver 1.0.0 (1/2015)
 * =====================================
 * Reset
 * ===================================== */
* {
  padding: 0;
  margin: 0;
  border: 0; }

/* =====================================
 * Basic layout
 * @ver 1.0.0 (1/2015)
 * =====================================
 * Basic layout, typography
 * ===================================== */
body {
  width: 1280px;
  height: 800px;
  color: white;
  background: #101010;
  font-family: varelaround-regularcs, sans-serif;
  font-size: 25px; }

a {
  text-decoration: none;
  color: #fff; }
  a.focused {
    color: black; }
  a.selected {
    color: #ef4034; }
  a.focused.selected {
    color: #bf1004; }

.window {
  position: fixed;
  width: 1280px;
  height: 736px;
  background: #101010; }

/* =====================================
 * Loading screen
 * @ver 1.0.0 (1/2015)
 * =====================================
 * Loading screen
 * ===================================== */
.loading {
  position: absolute;
  z-index: 47;
  background-color: #101010;
  width: 1280px;
  height: 800px; }
  .loading img {
    width: 128px;
    height: 128px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -64px;
    margin-top: -64px; }

/* =====================================
 * Sidebar layout
 * @ver 1.0.0 (1/2015)
 * =====================================
 * Sidebar layout, brand, menu
 * ===================================== */
.uibrand {
  position: absolute;
  top: 0;
  left: 0;
  height: 295px;
  width: 425px;
  background: url(../img/logo.png) transparent no-repeat 120px center; }

.uiview {
  position: absolute;
  top: 0;
  left: 425px;
  height: 736px;
  box-sizing: border-box;
  padding: 70px; }
  .uiview p {
    padding: 20px 0; }

.left-side-panel {
  height: 736px; }

.menu {
  list-style-type: none;
  position: absolute;
  top: 305px;
  left: 45px;
  width: 335px;
  font-size: 150%;
  font-weight: bold; }
  .menu li {
    display: block;
    width: 335px;
    height: 20px;
    color: white;
    margin-bottom: 20px;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    letter-spacing: 0.05em; }
    .menu li.focused, .menu li.focused a {
      color: black; }
    .menu li.selected, .menu li.selected a {
      color: #ef4034; }
    .menu li.focused.selected, .menu li.focus.selected a, .menu li:hover a {
      color: #bf1004; }

.main .menu li.selected a {
  color: black; }

/* =====================================
 * Bottom bar
 * @ver 1.0.0 (1/2015)
 * =====================================
 * Bottom bar, layout, icons
 * ===================================== */
#bar {
  position: fixed;
  color: white;
  top: 736px;
  left: 0px;
  width: 1280px;
  height: 64px;
  background: black;
  border-top: 1px solid #242424;
  text-align: center; }

#bar div {
  display: inline-block;
  border-right: 1px solid #242424;
  min-width: 245px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  padding-right: 10px; }

#bar div:first-child {
  border-left: 1px solid #242424; }

#bar div img {
  height: 25px;
  width: auto;
  margin-right: 10px;
  margin-left: 20px; }

/* =====================================
 * Modal layout
 * @ver 1.0.0 (1/2015)
 * =====================================
 * Modal layout
 * ===================================== */
.ng-modal {
  position: fixed;
  z-index: 49;
  top: 0;
  left: 0;
  width: 1280px;
  height: 800px; }

.ng-modal-overlay {
  position: fixed;
  z-index: 49;
  top: 0;
  left: 0;
  width: 1280px;
  height: 800px;
  background-color: #000;
  opacity: 0.8; }

.ng-modal-dialog {
  z-index: 50;
  position: fixed;
  top: 266.66667px;
  left: 426.66667px;
  width: 426.66667px;
  background-color: #aaa;
  color: #222;
  text-align: center; }
  .ng-modal-dialog input {
    border: 2px solid #222;
    background-color: #dddddd;
    height: 2em;
    font-size: 200%;
    margin: 0 auto;
    padding: 5px 5%;
    margin: 10%;
    width: 70%; }
    .ng-modal-dialog input:focus {
      border: 2px solid black; }

.ng-modal-dialog-content {
  overflow: hidden;
  height: 100%; }

.ng-modal-close {
  position: fixed;
  top: 3px;
  right: 5px;
  cursor: pointer;
  font-size: 120%;
  padding: 5px;
  display: inline-block; }

.ng-modal-title {
  text-align: center;
  font-size: 200%;
  display: block;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #222; }

/* =====================================
 * Movies list layout
 * @ver 1.0.0 (1/2015)
 * =====================================
 * Movies list layout, movie listing
 * behavior
 * ===================================== */
.movie {
  width: 218.33333px;
  margin: 10px;
  float: left;
  display: block;
  box-sizing: border-box;
  border: 2px solid transparent; }
  .movie img {
    width: 100%;
    height: auto; }
  .movie.focused, .movie:hover {
    border: 2px solid #bf1004; }

/* =====================================
 * Movie detail layout
 * @ver 1.0.0 (1/2015)
 * =====================================
 * Movie detail layout, player
 * ===================================== */
.detail {
  width: 765px; }
  .detail .movie-details {
    position: absolute;
    bottom: 0;
    left: 45px;
    right: 45px;
    top: 510px;
    height: 226px;
    overflow-y: auto; }
  .detail .video {
    z-index: 52; }

.table {
  width: 100%;
  clear: both; }
  .table th {
    text-align: left; }

video {
  z-index: 50;
  position: absolute; }

.video-poster {
  z-index: 51;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #8e8e8e;
  background-image: none;
  background-size: 100% 100%;
  background-position: 50% 50%; }

.video-overlay {
  z-index: 60; }

.pop-window {
  position: fixed; }

/* =====================================
 * Video player layout
 * @ver 1.0.0 (2/2015)
 * =====================================
 * Video player object
 * ===================================== */
.video-player-box {
  position: absolute;
  top: 45px;
  left: 45px;
  width: 760px;
  height: 475px;
  background-color: #F00;
  z-index: 9000;
  padding: 0;
  margin: 0;
  box-sizing: border-box; }
  .video-player-box .video-box {
    position: relative; }

.video-player-box.fullscreen {
  top: 0px;
  left: -425px;
  width: 1280px;
  height: 1280px;
  background-color: #06c;
  z-index: 9000; }
