/* button color - #231f20 */
/* pop up background - #e8e8e8 */
@font-face {
  font-family: 'varelaround-regularcs';
  src: url('../fonts/varelaround-regularcs.eot');
  src: url('../fonts/varelaround-regularcs.eot') format('embedded-opentype'), url('../fonts/varelaround-regularcs.woff') format('woff'), url('../fonts/varelaround-regularcs.ttf') format('truetype'); }

* {
  padding: 0;
  margin: 0;
  border: 0; }

/* Layout */
body {
  width: 1920px;
  height: 1080px;
  color: white;
  background: #6e6e6e;
  font-family: varelaround-regularcs, sans-serif;
  font-size: 25px; }

/* Loading */
.loading {
  position: absolute;
  z-index: 51;
  background-color: #6e6e6e;
  width: 1920px;
  height: 1080px; }
  .loading img {
    width: 128px;
    height: 128px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -64px;
    margin-top: -64px; }

video {
  z-index: 50;
  position: absolute; }

.video-poster {
  z-index: 51;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #8e8e8e;
  background-image: none;
  background-size: 100% 100%;
  background-position: 50% 50%; }

.video-overlay {
  z-index: 60; }

.window {
  position: fixed;
  width: 1920px;
  height: 1016px;
  background: #6e6e6e; }

.pop-window {
  position: fixed; }

/* */
.left-side-panel {
  height: 1016px; }

.logo {
  position: absolute;
  top: 110px;
  left: 125px;
  width: 266px;
  height: 173px;
  background-image: url('../../images/logo.png');
  background-size: 266px 173px;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

.menu {
  list-style-type: none;
  position: absolute;
  top: 410px;
  left: 70px;
  width: 400px;
  font-size: 150%;
  font-weight: bold; }

.menu li {
  display: block;
  width: 400px;
  height: 40px;
  color: white;
  margin-bottom: 40px;
  line-height: 40px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  letter-spacing: 0.05em; }

.menu li.focused {
  color: black; }

.menu li.selected {
  color: #ef4034; }

.menu li.focused.selected {
  color: #bf1004; }

/* bar */
#bar {
  position: fixed;
  color: white;
  top: 1016px;
  left: 0px;
  width: 1920px;
  height: 64px;
  background: black;
  border-top: 1px solid #242424;
  text-align: center; }

#bar div {
  display: inline-block;
  border-right: 1px solid #242424;
  min-width: 245px;
  height: 64px;
  line-height: 64px;
  text-align: left;
  padding-right: 10px; }

#bar div:first-child {
  border-left: 1px solid #242424; }

#bar div img {
  height: 25px;
  width: auto;
  margin-right: 10px;
  margin-left: 20px; }
